// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}


.btn-primary:hover {
  color: #fff;
  background-color: #5052eb;
  border-color: #5052eb;
}

.custom-height {
  height: 250px !important;
}